.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #0f172a;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  color: white;
}

.signup-formgroup{
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.signup-redirect {
  font-size: 0.8rem;
  color: white;
}

.signup-title {
  font-size: 2rem;
  text-align: center;
  color: white;
}

.signup-input {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.signup-submit {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
  background-color: lightcoral;
  cursor: pointer;
}

.signup-password-container {
  display: flex;
  justify-content: space-between;
}

.anchor-like {
  color: #0d9488;
  font-size: 0.8rem;
}

.error-msg {
  font-size: 0.7rem;
  color: red;
}

.user-exist-div {
  color: red;
}