.write {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

.write-img {
  width: 60%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.write-icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
}

.write-icon:hover {
  background-color: rgb(180, 175, 175);
  border-radius: 50%;
}

.write-title-input {
  font-size: 20px;
  padding: 20px;
  border: none;
  width: 100%;
}

.write-title-input:focus {
  outline: none;
}

.write-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.write-submit {
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.tox-promotion, .tox-statusbar__branding {
  display: none;
}

@media (max-width: 800px) {
  .write {
    padding: 20px;
  }

  .write-img {
    width: 80%;
    height: 320px;
  }

  .write-form {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .write {
    padding: 10px;
  }

  .write-img {
    width: 100%;
    height: 200px;
  }

  .write-form {
    width: 100%;
  }
}