.main-header {
  margin-top: 20px;
  position: relative;
}

.mh-titles {
  display: flex;
  flex-direction: column;
  font-family: 'Lora', serif;
  color: rgb(70, 68, 68);
  position: absolute;
  top: 20%;
  left: 10%;
}

.mh-title-lg {
  font-size: 5rem;
}

.mh-title-sm {
  font-size: 1.3rem;
  color: rgb(70, 68, 68);
  padding-left: 10px;
}

.mh-img {
  height: 700px;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 500px) {
  .mh-titles {
    top: 30%;
    left: 10%;
  }

  .mh-title-lg {
    font-size: 3rem;
  }

  .mh-title-sm {
    font-size: 1rem;
  }

  .mh-img {
    object-position: 60% -80%;
  }
}