.update {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

.update-img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.update-icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
}

.update-icon:hover {
  background-color: rgb(180, 175, 175);
  border-radius: 50%;
}

.update-title-input {
  font-size: 20px;
  padding: 20px;
  border: none;
  width: 100%;
}

.update-title-input:focus {
  outline: none;
}

.update-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-submit {
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.tox-promotion, .tox-statusbar__branding {
  display: none;
}