.replies {
  padding-top: 10px;
  padding-left: 50px;
  font-size: .9rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 500px) {
  .replies {
    padding-left: 10px;
    gap: 10px;
  }
}
